<h1>Triangle Tracker</h1>
<form action="/index" method="post">
<label for="sideA">First Side</label>
<input id="sideA" name="sideA" type="text">
<label for="sideB">Second Side</label>
<input id="sideB" name="sideB" type="text">
<label for="sideC">third Side</label>
<input id="sideC" name="sideC" type="text">
<button type="submit"> Check Triangle</button>
</form>